{% for p in site.pages %}
  {% assign hal = p.name | remove: '.md' %}
  {% if hal == page.author %}
    {% assign author = p %}
    {% assign content = p.content | markdownify }
    {% break %}
  {% endif %} 
{% endfor %}

<h4>Tentang Penulis</h4>
<div class="media author-info">
  <div class="media-left author-avatar">
    {% if author.image %}
      <img class="media-object" src="{{ author.image }}">
    {% elsif author.github %}
      <img class="media-object" src="http://github.com/{{ author.github }}.png?size=96">
    {% else %}
      <img class="media-object" src="{{ author.image }}">
    {% endif %}
  </div>
  <div class="media-body">
    <h4 class="media-heading author-name">
      {% if author.website %}
        <a href="/author/{{ author.username }}">{{ author.fullname }}</a>
      {% else %}
        {{ author.name }}
      {% endif %}
    </h4> 
    <div class="author-bio">  
        {{ content }}
    </div> 
  </div>
</div>
