---
layout: nil
---
{% capture thepost %}

	{% for post in site.posts %}
	
		{% capture description %}		
			{% if post.summary %}
				{{ post.summary | strip_html | xml_escape }}
			{% else %}
				{{ post.content | strip_html | xml_escape | truncatewords: 50 }}
			{% endif %}  
		{% endcapture %}	
	
		{% capture tags %}
			{% for tag in post.tags %}
				{{ tag | strip }}
			{% endfor %}	
		{% endcapture %}	


		{% capture json_value %}

			{"date":"{{ post.date | date: '%s' }}",
			"url":"{{ site.domain }}{{ post.url }}",
			"author":"{{ post.author }}",
			"category":"{{ post.category }}",
			"tags":"{{ tags }}",
			"title":"{{ post.title }}",
			"description":"{{ description }}"}
			
		{% endcapture %}	
		
		{{ json_value | strip | append: ',' }}
		
	{% endfor %}
{% endcapture %}

{{ thepost | strip | prepend: '[' | append: ']' }}
